p{
    margin: 0;
    padding: 5px;
    color: white;
}

#title{
    background-color: #DFDFDF;
    color: #64645A;
    font-family: Arial;
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
    
}

.alkaline{
    background-color: #0088DD
}
.acidic{
    background-color: #DB0000;
}